name: test-app

deployment:
  enabled: true
  annotations:
    custom-annotation: "true"
replicas: 3
terminationGracePeriodSeconds: 40
securityContext:
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000
  # Delete this line after initial migration (SRE-3261)
  readOnlyRootFilesystem: true
serviceAccount:
  name: test-sa
image:
  name: docker.io/test-image
  tag: v1.2.3
resources:
  limits:
    cpu: "500m"
    memory: "128Mi"
  requests:
    cpu: "250m"
    memory: "64Mi"
maxSurge: 2
maxUnavailable: 2

service:
  enabled: true
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 8081
    - name: metrics
      port: 9100
      targetPort: 9100

servicemonitor:
  endpoints:
    - interval: 15s
      path: /metrics
      port: metrics
      scheme: http

pvc:
  enabled: true
pvcs:
  - name: data
    accessModes:
      - ReadWriteOnce
    size: 100Mi
    storageClass: "longhorn-standard"

volumes:
  - name: data
    persistentVolumeClaim:
      claimName: data

ingress:
  enabled: true
  ingressClassName: nginx
  rules:
    - host: test.local
      paths:
        - path: /test
          pathType: Prefix
  tls:
    - hosts:
        - test.local
      secretName: test-tls

PodDisruptionBudget:
  enabled: true
  maxUnavailable: 2

HorizontalPodAutoscaler:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  averageUtilization: 75

containers:
  - name: container-1
    image:
      name: docker.io/test-image
      tag: v1.3.0
    startupProbe:
      httpGet:
        path: /healthz
        port: 8081
      failureThreshold: 2
      periodSeconds: 5
    readinessProbe:
      httpGet:
        path: /ready
        port: 8081
      failureThreshold: 2
      periodSeconds: 5
    livenessProbe:
      httpGet:
        path: /live
        port: 8081
      failureThreshold: 2
      periodSeconds: 5
    volumeMounts:
      - name: /data
        mountPath: /data
