name: OVERRIDE-ME

# Replica count for default deployment
replicaCount: 1

# Max surge for default deployment
maxSurge: 1

# Max unavailable for default deployment
maxUnavailable: 1

deployment:
  enabled: true
  # Default deployment annotations
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: "/_metrics"

PodDisruptionBudget:
  enabled: true
  maxUnavailable: 1

HorizontalPodAutoscaler:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  averageUtilization: 70

# Image for default deployment
image:
  registry: harbor.k8s-sandbox.org
  name: OVERRIDE-ME
  tag: OVERRIDE-ME
  # Image pull policy, permitted values: Always | IfNotPresent
  pullPolicy: IfNotPresent

terminationGracePeriodSeconds: 30

securityContext:
  runAsUser: 65534
  runAsGroup: 65534
  fsGroup: 65534

serviceAccount:
  name: sa-lido-default

# Not uses need implement

# podAnnotations: {}

# podLabels: {}

# nodeSelector: {}

# tolerations: []

# affinity: {}

resources:
  limits:
    cpu: 100m
    memory: 56Mi
  requests:
    cpu: 100m
    memory: 56Mi

startupProbe:
  httpGet:
    path: /healthz
    port: 8080
  failureThreshold: 3
  periodSeconds: 3
livenessProbe:
  httpGet:
    path: /healthz
    port: 8080
    httpHeaders:
  initialDelaySeconds: 3
  periodSeconds: 3
readinessProbe:
  httpGet:
    path: /healthz
    port: 8080
  initialDelaySeconds: 3
  periodSeconds: 3

service:
  # Whether service is enabled or disabled
  enabled: true
  # Type of service, generally don't need to change
  type:
    ClusterIP
    # Service specific annotations
  annotations:
    lido.fi/maintainer: Full name <OVERRIDE-ME@lido.fi>
    prometheus.io/probe: "true"
    prometheus.io/path: /_livenessProbe
  ports:
    - name: http
      port: 8080
      targetPort: 8080
    - name: metrics
      port: 8090
      targetPort: 8090

# Ingress configuration enable if you need to expose the service to the outside world
ingress:
  enabled: false
  ingressClassName: nginx-internal
  rules:
    - host: OVERRIDE-ME # Replace with your actual host
      paths:
        - path: /
          pathType: Prefix
        - path: /api
          pathType: Prefix
  # TLS configuration uncomment if it necessary
  # tls:
  #   - hosts:
  #       - OVERRIDE-ME  # Replace with your actual host
  #     secretName: OVERRIDE-ME  # Optional: specify if you have TLS certificate
